/* 7.1. Desktops
============================= */
@media only screen and (min-width: 1280px){

}

@media only screen and (min-width: 1200px) and (max-width: 1279px){

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
header .menu {
  margin-left: 7.5%;
}
    
.review-block {
  font-size: 20px;
  line-height: 38px;
}

.review-block .tab-content {
  padding: 105px 125px 78px 110px;
}
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
.container {
  width: 967px;
}

.navbar-brand > img {
  margin-right: 10px;
  width: 90px;
}

header .menu {
  margin-left: 7.5%;
}

.review-block {
  font-size: 18px;
  line-height: 36px;
}

.review-block .tab-content {
  padding: 105px 125px 82px 110px;
}
}

@media only screen and (min-width: 850px) and (max-width: 959px) {
.container {
  width: 899px;
}
    
.navbar-brand > img {
  margin-right: 10px;
  width: 90px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
}

.pricing-table ul {
  font-size: 17px;
}

.more-account {
    min-height: 109px !important;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 7.5%;
}

.review-block {
  font-size: 18px;
  line-height: 36px;
}

.review-block .tab-content {
  padding: 95px 120px 68px 105px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (min-width: 800px) and (max-width: 849px) {
.container {
  width: 832px;
}
    
.navbar-brand > img {
  margin-right: 10px;
  width: 90px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 14px;
}

.pricing-table ul > li {
  font-size: 16px;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 7.5%;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 85px 110px 58px 95px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (min-width: 760px) and (max-width: 799px) {
.container {
  width: 787px;
}
    
.navbar-brand > img {
  margin-right: 10px;
  width: 90px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 13px;
}

.pricing-table ul > li {
  font-size: 15px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 68px !important;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 0%;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 75px 100px 52px 90px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (min-width: 730px) and (max-width: 759px) {
.container {
  width: auto;
}
    
.navbar-brand > img {
  width: 80px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 13px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 128px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 66px !important;
}

.pt-ribbon {
  font-size: 14px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 0%;
}

header .navbar-nav {
  text-align: center;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 58px 85px;
}

.review-list {
  width: 240px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.review-list .nav-pills > li.active > a > img {
  width: 96px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 700px) and (max-width: 729px) {
.container {
  width: auto;
}
    
.navbar-brand > img {
  width: 80px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 13px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 128px;
}

.pricing-table ul > li {
  font-size: 13px;    
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 62px !important;
}

.pt-ribbon {
  font-size: 14px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 0%;
}

header .navbar-nav {
  text-align: center;
}

.review-block {
  font-size: 14px;
  line-height: 32px;
}

.review-block .tab-content {
  padding: 70px 95px 52px 85px;
}

.review-list {
  width: 240px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.review-list .nav-pills > li.active > a > img {
  width: 96px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 670px) and (max-width: 699px) {
.navbar-brand > img {
  width: 80px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 60px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.pt-ribbon {
  font-size: 12px;
  height: 25px;
  left: -25px;
  line-height: 25px;
}

.review-block {
  font-size: 14px;
  line-height: 32px;
}

.review-block .tab-content {
  padding: 60px 90px 46px 80px;
}

.review-list {
  width: 240px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.review-list .nav-pills > li.active > a > img {
  width: 96px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 620px) and (max-width: 669px) {
.navbar-brand > img {
  width: 80px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 60px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 14px;
  line-height: 32px;
}

.review-block .tab-content {
  padding: 60px 90px 38px 80px;
}

.review-list {
  width: 240px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.review-list .nav-pills > li.active > a > img {
  width: 96px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 55px;
  padding: 10px 0;
}

.more-account {
  min-height: 73px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 13px;
  line-height: 31px;
}

.review-block .tab-content {
  padding: 50px 80px 34px 70px;
}

.review-list {
  width: 240px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.review-list .nav-pills > li.active > a > img {
  width: 96px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 580px) and (max-width: 599px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 52px;
  padding: 8px 0;
}

.more-account {
  min-height: 69px !important;
}

.section5 .btn {
  font-size: 16px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 50px 75px 46px 65px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 550px) and (max-width: 579px) {
.navbar-brand > img {
  width: 70px;
}
    
.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 54px;
  padding: 8px 0;
}

.more-account {
  min-height: 92px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 50px 75px 38px 65px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 530px) and (max-width: 549px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 68px;
  padding: 8px 0;
}

.more-account {
  min-height: 92px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 45px 70px 34px 60px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 510px) and (max-width: 529px) {
.navbar-brand > img {
  width: 70px;
}
    
.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 68px;
  padding: 8px 0;
}

.more-account {
  min-height: 92px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 11px;
  line-height: 24px;
}

.review-block .tab-content {
  padding: 45px 70px 30px 60px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 480px) and (max-width: 509px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 68px;
  padding: 8px 0;
}

.more-account {
  min-height: 92px !important;
}

.section5 .btn {
  font-size: 14px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 11px;
  line-height: 24px;
}

.review-block .tab-content {
  padding: 40px 65px 26px 55px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 460px) and (max-width: 479px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 52px;
  padding: 8px 0;
}

.more-account {
  min-height: 86px !important;
}

.section5 .btn {
  font-size: 13px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 10px;
  line-height: 22px;
}

.review-block .tab-content {
  padding: 40px 65px 24px 55px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (max-width: 459px) {
.navbar-brand > img {
  width: 70px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 11px;
  min-height: 49px;
  padding: 8px 0;
}

.more-account {
  min-height: 80px !important;
}

.section5 .btn {
  font-size: 12px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 10px;
  line-height: 20px;
}

.review-block .tab-content {
  padding: 40px 60px 20px 50px;
}

.review-list {
  width: 192px;
}

.review-list .nav-pills > li > a > img {
  width: 48px;
}

.review-list .nav-pills > li.active > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}