/*----------------------------------------------------------------------------*/
/* MODIFY BOOTSTRAP */
/*----------------------------------------------------------------------------*/

@font-face{
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: ElleFutura;
    src: url(../fonts/ElleFutura-Regular.otf);
}

/*@font-face {
    font-family: ElleFutura-Medium;
    src: url(../fonts/ElleFutura-Medium.otf);
}*/

@font-face {
    font-family: ElleFutura-Bold;
    src: url(../fonts/ElleFutura-Bold.otf);
}


body {
  /*font-family: "ElleFutura",Helvetica,Arial,sans-serif;*/
  font-family: OpenSans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #566473;
  line-height: 24px;
}
/*
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "ElleFutura";
}*/

/*p {
  margin: 0;
}*/

a {
    color: #0088cf;
}

a:hover, a:focus {
    color: #0088cf;
    text-decoration: underline;
}

a:focus {
  outline: 0;
  outline-offset: 0;
}

.btn {
  font-size: 16px;
  padding: 8px 16px;
}

.btn-primary {
    /*background-color: transparent;*/
    /*    border-color: #56BDF1;*/
/*color: #0088cf;*/
    background-color: #03B7F0;
    border-color: transparent;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    /*background-color: #03B7F0;*/
    /*border-color: #56BDF1;*/
    background-color: #0088cf;
    border-color: transparent;
    color: #FFFFFF;
}

.btn-info {
    background-color: #1BB7A0;
    /*border-color: #18A18D;*/
    border-color: transparent;
    color: #FFFFFF;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #169381;
    /*border-color: #106B5E;*/
    /*border-color: #18A18D;*/
    border-color: transparent;
    color: #FFFFFF;
}


.navbar-toggle {
  background-color: #03B7F0;
  border: 1px solid white;
  margin-right: 0px;
}

.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}

th {
  text-align: center;
}

.table > thead > tr > th {
  border:none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
  outline-offset: 0;
}

.collapse.in {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.form-control {
  border: 1px solid #d0d0d0;
  box-shadow: none;
  font-size: 16px;
  height: auto;
  padding: 8px 16px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 9px;
}

.form-control:focus {
  border-color: #03B7F0;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);*/
  box-shadow: none;
  outline: 0 none;
}

label {
    font-weight: normal;
}

textarea {
    overflow: hidden;
    resize: none;
}

.btn-primary {
  background-color: transparent;
  border-color: #56bdf1;
  color: #0088cf;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #03b7f0;
  border-color: #56bdf1;
  color: #ffffff;
}

.panel-default {
    border-color: #56BDF1;
}

/*.panel-default > .panel-heading {
    background-color: #F4F8F9;
    color: #0088cf;
    border-color: #56BDF1;
}*/

.panel-default > .panel-heading {
  background-color: #f4f8f9;
  border-color: #56bdf1;
  color: #0088cf;
}

/*----------------------------------------------------------------------------*/
/* GENERAL */
/*----------------------------------------------------------------------------*/

/*.headroom {
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}*/

.bg-primary {
    background-color: #00B0FF;
    color: #FFFFFF;
}

.bg-info {
    background-color: #1BB7A0;
    color: #FFFFFF;
}

.list-info li {
  border-bottom: 1px solid #EEEEEE;
  padding: 10px;
}

.list-info li .icon {
  color: #1BB7A0;
  margin-right: 10px;
  width: 15px;
}

.list-info li label {
  margin: 0;
  width: 85px;
}

.list-info > li > a {
  display: inline;
  padding: 0;
}

/**/
.alert-default {
    background-color: #f4f8f9;
    border-color: #03B7F0;
}

.alert-default p {
    color: #0088cf;
    margin-bottom: 10px;
}

.size-h1 {
    font-size: 36px;
}

.size-h2 {
    font-size: 30px;
}

.size-h3 {
    font-size: 24px;
}

.size-h4 {
    font-size: 18px;
}

/* CHECKBOX */

.ui-checkbox {
    margin: 0 20px 10px;
    position: relative;
}

.ui-checkbox input[type="checkbox"] {
    display: none;
}

.ui-checkbox input[type="checkbox"] + span:before {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #56BDF1;
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 18px;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: -4px;
    vertical-align: middle;
    width: 18px;
}

.ui-checkbox input[type="checkbox"]:checked + span:before {
    background-color: #03B7F0;
    border: 1px solid #56BDF1;
}

.ui-checkbox input[type="checkbox"]:checked + span:after {
    background: url("../img/ui/checkmark.png") no-repeat scroll center center / 14px 14px rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 8px;
    width: 8px;
}

.ui-checkbox input[type="checkbox"] + span {
    font-weight: normal;
}

/* RADIO */

.ui-radio {
    margin: 0 20px 10px;
    position: relative;
}

.ui-radio input[type="radio"] {
    display: none;
}

.ui-radio input[type="radio"] + span:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #56BDF1;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 18px;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: -4px;
    vertical-align: middle;
    width: 18px;
}

.ui-radio input[type="radio"]:checked + span:after {
    background-color: #03B7F0;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 8px;
    width: 8px;
}

.ui-radio input[type="radio"] + span {
    font-weight: normal;
}

.panel-heading .box-icon {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  float: left;
  height: 43px;
  line-height: 41px;
  margin: -10px 10px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 43px;
  font-size: 16px;
}

/* INPUT WITH ICON */

.left-input-icon {
    color: #aaaaaa;
    /*color: #0088cf;*/
    left: 30px;
    line-height: 1.42857;
    padding-right: 10px;
    position: absolute;
    top: 10px;
}

.form-control.left-icon {
    padding-left: 40px;
}

.form-control.left-icon:focus + .left-input-icon{
    color: #0088cf;
}


.body-content {
    /*margin-top: 50px;*/
    /*min-height: 490px;*/
    min-height: 550px;
}

.bg-primary {
    background-color: #03B7F0;
    color: #FFFFFF;
}

.margin-t {
    margin-top: 20px;
}

.margin-b {
    margin-bottom: 20px;
}

section {
    min-height: 650px;
    position: relative;
    padding: 50px 0;
}

section .container {
    position: relative;
    z-index: 1;
}

section h1 {
    margin-top: 0;
    font-family: ElleFutura;
}

section .img-responsive {
  margin: 0 auto;
}

.gi-gradient-line {
  background: url("../img/other/gradient-line.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*----------------------------------------------------------------------------*/
/* HEADER */
/*----------------------------------------------------------------------------*/

.mini-navbar {
  background: none repeat scroll 0 0 #00b0ff;
  color: white;
  font-size: 14px;
  padding: 8px 0;
/*  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;*/
}

.mini-navbar a {
  color: white;
}

.language {
    display: inline;
    margin-right: 15px;
}

.language .active a {
  /*color: #56bdf1;*/
  text-decoration: underline;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  /*width: 150px;*/
  margin-top: 3px;
}

header .navbar-collapse {
  padding: 0;
}

header ul.navbar-nav li:last-child a {
  padding-right: 0;
}

header ul.navbar-nav li:last-child a.btn {
  padding-right: 16px;
}

#fixtopmenu {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #56bdf1;
/*    transition-duration: 0.8s;*/
}

header {
/*    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #56bdf1;*/
    top:40px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 100;
}

header.active {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 1px solid #56bdf1;
  transition-duration: 0.8s;
}

header .navbar-nav a {
  color: #566473;
  padding: 20px;
  text-transform: uppercase;
}

header .navbar-nav li.active a {
  color: #0088cf;
  text-decoration: none;
}

header .navbar-nav a:hover, header .navbar-nav a:focus {
  color: #0088cf;
  text-decoration: none;
}

header .navbar-nav a.btn {
  border-color: #56bdf1;
  margin: 11px !important;
  padding: 8px 16px;
}

.navbar-nav .btn:hover {
  /*background-color: #0088cf;*/
  background-color: #03b7f0;
  color: white;
  text-decoration: none;
}

header .menu {
  margin-left: 14%;
}

/*----------------------------------------------------------------------------*/
/* ARTICLE */
/*----------------------------------------------------------------------------*/

.article {
  margin: 10px 0 15px;
}

.article img {
  height: 169px;
  width: 100%;
}

.article small {
  display: block;
  margin: 10px 0;
}

.article-content h5 {
  height: 36px;
  font-size: 16px;
}

.article p {
  font-size: 15px;
}

.article .btn {
  font-size: 14px;
  padding: 8px 20px;
}

.panel.article-list {
  background: none repeat scroll 0 0 transparent;
  border-color: #f4f8f9;
  box-shadow: none;
}

.red {
    color: red;
}

/*----------------------------------------------------------------------------*/
/* DOCTOR */
/*----------------------------------------------------------------------------*/

.doctor-list img {
  float: left;
  margin-right: 10px;
  width: 96px;
}

.doctor-detail td {
  padding-right: 30px;
}

/*----------------------------------------------------------------------------*/
/* SECTION 1 - HOME */
/*----------------------------------------------------------------------------*/

.section1 {
  background-image: url("../img/company/s1bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 757px;*/
  color: #0088cf;
  margin-top: 60px;
}

/*----------------------------------------------------------------------------*/
/* SECTION 2 - SOLUTION */
/*----------------------------------------------------------------------------*/

.section2 {
  
  
/*  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);  Chrome 10+, Saf5.1+ 
  background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);  FF3.6+ 
  background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);  IE10 
  background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);  Opera 11.10+ 
  background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);  W3C */
  
/*  background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  Chrome 10+, Saf5.1+ 
  background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  FF3.6+ 
  background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  IE10 
  background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  Opera 11.10+ 
  background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);  W3C */
        
  
  padding: 0px;
/*  min-height: 560px;*/
/*  color: white;*/
  /*height: 757px;*/
  
  /*color: white;*/
  /*font-family: ElleFutura-Bold;*/
  /*padding-top: 5%;*/
}

.section2 h1 {
  font-size: 50px;
  text-transform: uppercase;
  /*color: #0088cf;*/
}

.section2 h2 {
  font-size: 20px;
  line-height: 30px;
}

.bx-wrapper .bx-controls-direction a {
  height: 40px;
  margin-top: 0;
  outline: 0 none;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 40px;
  z-index: 99;
}

.bx-wrapper .bx-prev {
  background: url("/img/other/left.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.bx-wrapper .bx-prev:hover {
  background-position: left bottom;
}

.bx-wrapper .bx-next {
  background: url("/img/other/right.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.bx-wrapper .bx-next:hover {
  background-position: left bottom;
}

.bx-wrapper {
  margin: 0 auto;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
  background: transparent;
  left: 0px;
  /*height: 650px !important;*/
  border: 0;
}

.bxslide {
  left: 0 !important;
  /*height: 650px;*/
}

.bx-controls {
    display: none;
}

.homeslide1 {
    /*background-image: url("../img/company/doctor-patient2.jpg");*/
    background-image: url("../img/company/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
}

.homeslide1:after {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.homeslide2 {
    background-image: url("../img/company/doctor-patient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
}

.homeslide2:after {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.homeslide3 {
    background-image: url("../img/company/doctor-patient2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
}

.homeslide3:after {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
.section2 .item {
  min-height: 650px;
}

.section2 .carousel-control .glyphicon-chevron-left, 
.section2 .carousel-control .glyphicon-chevron-right, 
.section2 .carousel-control .icon-prev, 
.section2 .carousel-control .icon-next {
  color: white;
}

.section2 .carousel-control .glyphicon-chevron-left, 
.section2 .carousel-control .glyphicon-chevron-right, 
.section2 .carousel-control .icon-prev, 
.section2 .carousel-control .icon-next {
  color: white;
}*/

.btn-action {
  margin-top: 20%;
}

.btn-action a {
    margin: 0 5px;
}

/*.btn-action .btn-transparent {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}*/

.btn-action .btn-transparent {
  background-color: transparent;
  border-color: #888;
  color: #888;
}

.btn-action .btn-transparent:hover, .btn-action .btn-transparent:focus {
/*    background-color: white;
    border-color: white;
    color: #566473;*/
    background-color: #03b7f0;
    border-color: #03b7f0;
    color: #ffffff;
}

/*.btn-action .btn-primary {
    background-color: #03b7f0;
    border-color: #03b7f0;
    color: #ffffff;
}*/

/*.btn-action .btn-primary:hover, .btn-action .btn-primary:focus {
  background-color: #0088cf;
  border-color: #0088cf;
}*/

.btn-lg {
  font-size: 18px;
  padding: 14px 30px;
}
/*.section2:before {
  background: none repeat scroll 0 0 rgba(32, 54, 114, 0.29);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section2:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}*/

.btn-play {
    background: url('../img/company/s2btn.png') no-repeat;
    /*background-repeat: no-repeat;*/
    display: block;
    width: 137px;
    height: 136px;
    margin: 40px auto;
}

.btn-play:hover {
    background-image: url('../img/company/s2btn2.png');
    background-repeat: no-repeat;
}

/*----------------------------------------------------------------------------*/
/* SECTION 9 - ABOUT */
/*----------------------------------------------------------------------------*/
.section9 {
  /*background-image: url("../img/company/s3bg.png");*/
  /*background-image: url("../img/company/s6bg1.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*color: #0088cf;*/
  background-color: #f4f8f9;
}

.section9 h2 {
  margin-bottom: 0;
}

.section9 h4 {
  line-height: 1.5em;
  margin: 5% 0;
}

.section9 .box-icon {
  border: 1px solid #03b7f0;
  color: #03b7f0;
  font-size: 50px;
  height: 96px;
  line-height: 94px;
  width: 96px;
}

/*.section9 h3 {
  background-image: url("../img/company/s3bg.png");
  background-image: url("../img/company/s6bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #0088cf;
  background-color: #f4f8f9;
}*/

/*----------------------------------------------------------------------------*/
/* SECTION 10 - HEALTH */
/*----------------------------------------------------------------------------*/
.section10 {
  background-color: #f4f8f9;
}

/*----------------------------------------------------------------------------*/
/* SECTION 3 - PRODUCT */
/*----------------------------------------------------------------------------*/

.section3 {
  /*background-image: url("../img/company/s3bg.png");*/
  background-image: url("../img/company/s6bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*color: #0088cf;*/
}

/*.section3:before {
  background: none repeat scroll 0 0 rgba(32, 54, 114, 0.29);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section3:after {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section3 .img-responsive {
  max-width: 75%;
}*/

.box-icon {
  border-radius: 50%;
  display: inline-block;
  font-size: 35px;
  line-height: 70px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  width: 72px;
}

.product-info img {
    margin-top: 40px;
}

.product-feature {
  margin-bottom: 20px;
}

.product-feature .box-icon {
  display: table-cell;
  line-height: inherit;
  vertical-align: top;
}

.feature-content {
  display: table-cell;
  padding-left: 15px;
}

.feature-content h3 {
  margin-top: 5px;
}

/*----------------------------------------------------------------------------*/
/* SECTION 4 - SERVICE */
/*----------------------------------------------------------------------------*/

.section4 {
/*  background-image: url("../img/company/s3bg.png");
  background-repeat: no-repeat;
  background-size: cover;*/
/*  background-color: #f4f8f9;*/
}

.section4 .box-icon {
    /*border: 1px solid #03b7f0;*/
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  width: 100px;
}

.section4 .service-box .box-icon {
  /*border: 1px solid #03b7f0;*/
  color: #03b7f0;
}

.section4 .service-box {
    border: 2px solid white;
    margin: 30px 0 0;
    min-height: 209px;
}

.section4 .service-box:hover {
    border: 2px solid #03b7f0;
}

.section4 .service-box:hover h3 {
  
  color: #03b7f0;
}


.section4 h3 {
  margin-top: 0;
}

.service-item {
  border-top: 1px dashed #d9ddde;
  display: inline-block;
  padding: 30px 0;
  width: 100%;
}

/*----------------------------------------------------------------------------*/
/* SECTION 5 - PRICING */
/*----------------------------------------------------------------------------*/

.section5 {
/*  background-image: url("../img/company/bg.png");
  background-repeat: repeat repeat;*/
background-color: #f4f8f9;
/*  background-size: cover;*/
}

.pricing-table {
  margin-top: 30px;
}

.pricing-table ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.pricing-table ul > li {
  font-size: 16px;
  border-bottom: 1px solid #f4f8f9;
  min-height: 55px;
  padding: 15px 30px;
}
/*
.pricing-plan ul > li {
  border-color: #f4f8f9;
}

.pricing-plan {
  border: 2px solid #f4f8f9;
  margin: 0 -15px;
  padding: 0 15px;
  text-align: right;
}

.pricing-plan .pricing-title {
  min-height: 76px;
  padding: 25px 0;
}*/

.pricing-body {
  background-color: white;
  border: 2px solid #03b7f0;
  border-radius: 6px;
  transition: all 0.2s ease-in-out 0s;
}

.pricing-title {
  /*border-radius: 6px 6px 0 0;*/
  line-height: 1;
  position: relative;
  text-align: center;
  
  padding: 20px 0;
  border-bottom: 1px solid #f4f8f9;
  /*border: 2px solid white;*/
}

.pricing-title h2 {
  font-size: 28px;
  margin: 0 0 5px;
  /*margin: 0;*/
  text-transform: uppercase;
}

.pricing-title i {
  margin: 0 2px;
  font-size: 1.8em;
}

.pricing-option1 {
  border: 2px solid #03b7f0;
  margin-top: 30px;
}

.pricing-option2 {
  border: 2px solid #48cfae;
}

.pricing-option3 {
  border: 2px solid #ED5564;
  margin-top: 30px;
}

.pricing-option1 .pricing-title {
    color: white;
  background-color: #03b7f0;
  border-color: #03b7f0;
}

.pricing-option2 .pricing-title {
    color: white;
  background-color: #48cfae;
  border-color: #48cfae;
  padding: 35px;
}

.pricing-option3 .pricing-title {
    color: white;
  background-color: #ED5564;
  border-color: #ED5564;
}

.pricing-plan i {
  color: #999;
}

.pricing-action {
  padding: 5px;
}

.pricing-action .btn {
  font-size: 24px;
/*  font-weight: bold;*/
  padding: 15px;
  width: 100%;
  color: white;
  border: none;
}

.pricing-price {
  min-height: 106px;
  padding: 15px 0;
  text-align: center;
}

.pricing-price h2 {
  font-size: 48px;
  margin: 0px;
}

.pricing-price sup {
  font-size: 18px;
}

.pricing-price .text-muted {
  display: block;
}

.pricing-option1 .btn {
    color: #566473;
    background-color: #eee;
}

.pricing-option2 .btn {
    color: #566473;
    background-color: #eee;
    padding: 30px;
}

.pricing-option3 .btn {
    color: #566473;
    background-color: #eee;
}

.pricing-option1:hover .btn, .pricing-option1:focus .btn {
  background-color: #03b7f0;
  color: white;
}

.pricing-option2:hover .btn, .pricing-option2:focus .btn {
  background-color: #48cfae;
  color: white;
}

.pricing-option3:hover .btn, .pricing-option3:focus .btn {
  background-color: #ED5564;
  color: white;
}

/*.pricing-body:hover ul, .pricing-body:focus ul {
  background-color: #f4f8f9;
  color: #fa7b58;
}*/

.pricing-option1:hover .pricing-price h2, .pricing-option1:focus .pricing-price h2 {
/*  color: #fa7b58;*/
    color: #03b7f0;
}

.pricing-option2:hover .pricing-price h2, .pricing-option2:focus .pricing-price h2 {
    color: #48cfae;
}

.pricing-option3:hover .pricing-price h2, .pricing-option3:focus .pricing-price h2 {
    color: #ED5564;
}

/*.pricing-option2 .btn {
  background-color: #03b7f0;
}

.pricing-option2 .btn {
  background-color: #48cfae;
}

.pricing-option3 .btn {
  background-color: #ED5564;
}*/

/*.pricing-option i {
  color: #0088cf;
}*/
/*
.pricing-option i.fa-times {
  color: #fa7b58;
}*/




/*.pricing-body:hover, .pricing-body:focus {
  border-color: #03b7f0;
}*/

/*.pricing-body:hover .pricing-price, .pricing-body:focus .pricing-price {
  background-color: #f4f8f9;
  color: #0088cf;
}*/



/*.pricing-body:hover .pt-ribbon, .pricing-body:focus .pt-ribbon{
  background-color: #03b7f0;
}*/

/*.pricing-option {
  margin: 0 -15px;
}*/

.more-account {
    min-height: 83px !important;
}

.pt-ribbon-wrapper {
  height: 80px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.pt-ribbon {
  /*background-color: #8ab71b;*/
  background-color: #1bb7a0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  left: -32px;
  line-height: 40px;
  position: relative;
  text-transform: uppercase;
  top: 0;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  width: 180px;
}

/*----------------------------------------------------------------------------*/
/* SECTION 6 - CUSTOMER REVIEW */
/*----------------------------------------------------------------------------*/

.section6 {
  background-image: url("../img/company/s1bg.jpg");
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-color: #f4f8f9;*/
  min-height: 0;
  color: white;
  /*border-top: 1px solid #eaf0f3;*/
  padding: 50px 0;
}

.section6 .carousel-control {
  width: 15%;
}

/*.section6 .carousel-control .glyphicon-chevron-left, .section6 .carousel-control .glyphicon-chevron-right, .section6 .carousel-control .icon-prev, .section6 .carousel-control .icon-next {
  color: white;
}*/
/*.section6:before {
  background: url("../img/company/texture_layer.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section6:after {
  background: none repeat scroll 0 0 rgba(71, 81, 85, 0.0);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}*/

/* Carousel */

/*.section6 .carousel {
  margin-left: 10%;
  width: 80%;
}*/

.carousel-indicators li {
  border: 1px solid #56bdf1;
}

.carousel-indicators .active {
  /*background-color: #56bdf1;*/
  background-color: white;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  /*color: #03b7f0;*/
  color: white;
}

.carousel-control {
  width: 3%;
  /*width: auto;*/
}

/*.left.carousel-control {
  left: 13px;
}*/

.carousel-control.left, .carousel-control.right{
  background: none;
}

.carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 0;
  padding-left: 0;
  position: static;
  text-align: center;
  width: auto;
}

/*.carousel-inner .item {
  padding-left: 10%;
  width: 90%;
}*/

.review-content {
    text-align: center;
}

.review-content img {
  width: 128px;
}

.review-content h4 {
    margin: 15px 0;
}

.review-text {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06) inset, 0 1px 0 0 rgba(255, 255, 255, 0.15);
  min-height: 136px;
  padding: 20px;
}

/*----------------------------------------------------------------------------*/
/* SECTION 7 - DOCTOR */
/*----------------------------------------------------------------------------*/

.section7 {
/*  background-image: url("../img/company/s6bg.jpg");
    background-repeat: no-repeat;
  background-size: cover;*/
  /*background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); 
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);*/
  /*color: #FFFFFF;
  background-color: #f4f8f9;*/
  /*min-height: 0;*/
  /*padding-top: 160px;*/
}

/*.section7:before {
  background: none repeat scroll 0 0 rgba(32, 54, 114, 0.29);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}*/

/*.section7:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}*/

.section7 .btn-action {
  margin-top: 5%;
}

/*.section7 a {
  color: #FFFFFF;
}*/

.section7 .box-icon {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #03b7f0;
  color: #03b7f0;
  line-height: 90px;
  margin-bottom: 20px;
  width: 90px;
}

.section7 .btn {
  font-size: 20px;
  padding: 10px 40px;
}

.doctor-profile .img-circle {
  width: 256px;
}

.doctor-icon {
  display: table-cell;
  vertical-align: middle;
}

.doctor-info {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}

.doctor-info h4 {
  font-size: 22px;
  margin-top: 0;
}

/*----------------------------------------------------------------------------*/
/* SECTION 8 - CONTACT */
/*----------------------------------------------------------------------------*/

.section8 {
    padding: 0;
    min-height: 400px;
}

.google-maps {
    height: 400px;
}

/*.gmap_marker {
  font-family: OpenSans;
  font-size: 14px;
}*/

/*----------------------------------------------------------------------------*/
/* SUBSCRIBE */
/*----------------------------------------------------------------------------*/

/*.section9 {
  background-color: #f4f8f9;
  min-height: 0;
}*/

.subscribe {
  position: absolute;
  bottom: 50px;
  width: 100%;
  /*z-index: 100;*/
}

.subscribe-form {
  padding: 15px;
  background: none repeat scroll 0 0 #566473;
  border-radius: 6px;
}

.subscribe-form .btn {
  border-color: #d0d0d0;
  color: white;
}

/*----------------------------------------------------------------------------*/
/* FOOTER */
/*----------------------------------------------------------------------------*/

footer {
  font-size: 18px;
  /*margin: 20px 0 0;*/
  padding: 20px 0;
  position: relative;
  background-color: #475155;
  /*color: #FFFFFF;*/
  color: #9ba9af;
}

footer a {
    /*color: #9ba9af;*/
    color: #FFFFFF;
}

footer a:hover, footer a:focus {
    color: #56bdf1;
}

footer .menu {
  margin-bottom: 10px;
}

footer .menu > a {
  margin: 0 10px;
}

footer .social > a {
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  padding: 6px;
  width: 40px;
}

.copyright {
  margin-top: 10px;
}

/* FIX SIDEBAR */

.fix-sidebar {
  bottom: 15%;
  margin: 0;
  position: fixed;
  right: 20px;
  z-index: 999;
  list-style: none outside none;
}

.fix-sidebar li a {
  border: 1px solid #03b7f0;
  border-radius: 50%;
  color: #03b7f0;
  display: block;
  font-size: 38px;
  height: 48px;
  line-height: 36px;
  text-align: center;
  width: 48px;
}

.fix-sidebar li a:hover, .fix-sidebar li a:focus {
  color: #03b7f0;
}

/* COMPANY - CHECKOUT */

.order-info li label {
  width: 150px;
}

.current-info {
  display: none;
}


/*.wizard{
  display: block;
  overflow: hidden;
  width: 100%;
}*/

.wizard > .steps {
  margin-bottom: 20px;
}

.wizard ul {
  list-style: none outside none;
  margin: 0;
  padding: 0
}

.wizard .content {
    margin: 20px 0 0 0;
}

.steps ul li {
  float: left;
  margin-right: 2%;
  width: 30%;
}

.wizard > .actions > ul {
  float: right;
  margin-bottom: 20px;
}

.actions ul li {
  float: left;
  margin-left: 20px;
}

/*.number {
  border: 1px solid #d9ddde;
  border-radius: 50%;
  color: #888;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}*/

.steps .number {
  border: 1px solid #d9ddde;
  border-radius: 50%;
  color: #888;
  display: inline-block;
  height: 24px;
  line-height: 22px;
  text-align: center;
  width: 24px;
}

.steps .active .number {
  background-color: white;
  border-color: white;
  color: #03b7f0;
}

.steps .nav-pills li.active a {
  border: 1px solid #56bdf1;
  background-color: #03b7f0;
  color: white;
}

.steps .done .number {
  background-color: #03b7f0;
  border-color: #03b7f0;
  color: white;
}

.steps .done a {
  border: 1px solid #56bdf1;
  color: #0088cf;
}

.steps a, .steps .disabled a, .actions a, .actions .disabled a, .actions .disabled a:hover, .actions .disabled a:focus {
  background-color: white;
  border: 1px solid #d9ddde;
  border-radius: 4px;
  color: #888;
  display: block;
  text-align: center;
}

.steps a {
    padding: 10px 10%;
}

.steps .disabled a, .actions .disabled a {
    cursor: default;
}

.steps a:hover, .steps a:focus, .actions a:hover, .actions a:focus {
    text-decoration: none;
}

.actions a {
    padding: 10px 30px;
    border-color: #56bdf1;
}

.actions a:hover, .actions a:focus {
  background-color: #03b7f0;
  color: white;
}

/*
.actions .disabled a {
  border-color: #d9ddde;
  cursor: pointer;
}

.actions .disabled a:hover, .actions .disabled a:focus {
  border-color: #d9ddde;
  color: #888;
  background-color: white;
}*/

.actions li:last-child a, li:last-child .actions a {
  background-color: #1BB7A0;
  border-color: #18A18D;
  color: #FFFFFF;
}

.actions li:last-child a:hover, li:last-child .actions a:focus {
  background-color: #169381;
  border-color: #18A18D;
  color: #FFFFFF;
}

.plan {
  margin-top: 66px;
}

.plan .size-h1 {
  color: #0088cf;
  /*font-size: 36px;*/
  /*margin-top: 0;*/
}
/*
.plan .list-info {
    font-size: 14px;
}*/


/* LOGIN PAGE */

.intro-bg {
  background-image: url("../img/company/s1bg3.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.intro-block {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  min-height: 550px;
  padding-top: 100px;
}

.intro-block .panel {
  border: medium none;
}



header .navbar-nav .dropdown-menu li.active a {
    color: white;
}

header .navbar-nav .dropdown-menu a {
    color: #566473;
    padding: 10px 20px;
}