/* 7.1. Desktops
============================= */
@media only screen and (min-width: 1280px){

}

@media only screen and (min-width: 1200px) and (max-width: 1279px){

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
header .menu {
  margin-left: 6%;
}

.review-block {
  font-size: 18px;
  line-height: 38px;
}

.review-block .tab-content {
  padding: 105px 125px 92px 110px;
}
}

@media only screen and (max-width: 1023px) {
.section2 {
    margin-top: 50px;
}
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
/*.container {
  width: 967px;
}*/

header .menu {
  margin-left: 1%;
}

.navbar-brand > img {
  margin-top: 5px;
  width: 150px;
}

header .nav.navbar-nav a {
  font-size: 12px;
  padding: 15px 14px;
}

header .navbar-nav a.btn {
  margin: 8px !important;
  padding: 6px 14px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 52px;
}

.more-account {
  min-height: 72px !important;
}

.review-block {
  font-size: 18px;
  line-height: 36px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 66px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

}

@media only screen and (min-width: 850px) and (max-width: 959px) {
/*.container {
  width: 899px;
}*/

.navbar-brand > img {
  margin-top: 5px;
  width: 150px;
}

header .nav.navbar-nav a {
  font-size: 12px;
  padding: 15px 14px;
}

header .navbar-nav a.btn {
  margin: 8px !important;
  padding: 6px 14px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 52px;
}

.more-account {
  min-height: 72px !important;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .menu {
  margin-left: 3%;
}

.review-block {
  font-size: 18px;
  line-height: 36px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 66px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (min-width: 800px) and (max-width: 849px) {
/*.container {
  width: 832px;
}*/

.navbar-brand > img {
  margin-top: 5px;
  width: 150px;
}

header .nav.navbar-nav a {
  font-size: 12px;
  padding: 15px 14px;
}

header .navbar-nav a.btn {
  margin: 8px !important;
  padding: 6px 14px;
}

header .menu {
  margin-left: 6%;
}

.section1 {
  margin-top: 50px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 52px;
}

.more-account {
  min-height: 72px !important;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 66px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (min-width: 760px) and (max-width: 799px) {
/*.container {
  width: 787px;
}*/

.navbar-brand > img {
  margin-top: 5px;
  width: 150px;
}

header .nav.navbar-nav a {
  font-size: 12px;
  padding: 15px 14px;
}

header .navbar-nav a.btn {
  margin: 8px !important;
  padding: 6px 14px;
}

header .menu {
  margin-left: 5%;
}

.section1 {
  margin-top: 50px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 52px;
}

.more-account {
  min-height: 72px !important;
}

.pt-ribbon {
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 66px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar {
    display: none;
}
}

@media only screen and (max-width: 759px) {
header .menu {
  margin: 7.5px -15px;
}

.section1 {
  background-position: center 45px;
  background-size: contain;
  margin-top: 0;
}

section {
  min-height: 462px;
}

section h1 {
  font-size: 30px;
}

section h2 {
  font-size: 24px;
}

.section2 {
  padding-top: 60px;
  margin-top: 0px;
}
}

@media only screen and (min-width: 730px) and (max-width: 759px) {
/*.container {
  width: auto;
}*/

.navbar-brand > img {
  width: 144px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 13px;
}

header .navbar-nav {
  text-align: center;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 128px;
}

.pricing-table ul > li {
  font-size: 14px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 66px !important;
}

.pt-ribbon {
  font-size: 14px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

.review-block {
  font-size: 16px;
  line-height: 34px;
}

.review-block .tab-content {
  padding: 70px 95px 63px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 700px) and (max-width: 729px) {
/*.container {
  width: auto;
}*/

.navbar-brand > img {
  width: 144px;
}

header .nav.navbar-nav a {
  padding: 15px 10px;
  font-size: 13px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 128px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 62px !important;
}

.pt-ribbon {
  font-size: 14px;
  height: 30px;
  left: -30px;
  line-height: 30px;
}

header .navbar-nav {
  text-align: center;
}

.review-block {
  font-size: 14px;
  line-height: 32px;
}

.review-block .tab-content {
  padding: 70px 95px 60px 85px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 670px) and (max-width: 699px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 46px;
  padding: 12px 0;
}

.more-account {
  min-height: 60px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.pt-ribbon {
  font-size: 12px;
  height: 25px;
  left: -25px;
  line-height: 25px;
}

.review-block {
  font-size: 14px;
  line-height: 32px;
}

.review-block .tab-content {
  padding: 60px 90px 53px 80px;
}

.review-list {
  width: 256px;
}

.review-list .nav-pills > li > a > img {
  width: 80px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 620px) and (max-width: 669px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 43px;
  padding: 12px 0;
}

.more-account {
  min-height: 60px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 13px;
  line-height: 31px;
}

.review-block .tab-content {
  padding: 60px 80px 55px 70px;
}

.review-list {
  width: 208px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 600px) and (max-width: 619px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 55px;
  padding: 10px 0;
}

.more-account {
  min-height: 56px !important;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 13px;
  line-height: 31px;
}

.review-block .tab-content {
  padding: 50px 80px 50px 70px;
}

.review-list {
  width: 208px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 580px) and (max-width: 599px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 52px;
  padding: 8px 0;
}

.more-account {
  min-height: 52px !important;
}

.section5 .btn {
  font-size: 16px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 50px 75px 50px 65px;
}

.review-list {
  width: 208px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 550px) and (max-width: 579px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 54px;
  padding: 8px 0;
}

.more-account {
  min-height: 55px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 50px 75px 44px 65px;
}

.review-list {
  width: 208px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 530px) and (max-width: 549px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 55px;
  padding: 8px 0;
}

.more-account {
  min-height: 55px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 12px;
  line-height: 26px;
}

.review-block .tab-content {
  padding: 45px 70px 40px 60px;
}

.review-list {
  width: 208px;
}

.review-list .nav-pills > li > a > img {
  width: 64px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 510px) and (max-width: 529px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 55px;
  padding: 8px 0;
}

.more-account {
  min-height: 55px !important;
}

.section5 .btn {
  font-size: 16px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 20px;
}

.pricing-price h2 {
  font-size: 32px;
}

.review-block {
  font-size: 11px;
  line-height: 24px;
}

.review-block .tab-content {
  padding: 45px 70px 40px 60px;
}

.review-list {
  width: 184px;
}

.review-list .nav-pills > li > a > img {
  width: 56px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 480px) and (max-width: 509px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 13px;
  min-height: 55px;
  padding: 8px 0;
}

.more-account {
  min-height: 55px !important;
}

.section5 .btn {
  font-size: 14px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 11px;
  line-height: 24px;
}

.review-block .tab-content {
  padding: 40px 65px 38px 55px;
}

.review-list {
  width: 184px;
}

.review-list .nav-pills > li > a > img {
  width: 56px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (min-width: 460px) and (max-width: 479px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 12px;
  min-height: 51px;
  padding: 8px 0;
}

.more-account {
  min-height: 51px !important;
}

.section5 .btn {
  font-size: 13px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 10px;
  line-height: 22px;
}

.review-block .tab-content {
  padding: 40px 65px 34px 55px;
}

.review-list {
  width: 184px;
}

.review-list .nav-pills > li > a > img {
  width: 56px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}

@media only screen and (max-width: 459px) {
.navbar-brand > img {
  width: 144px;
}

.pricing-table .pricing-price {
  padding: 12px 0;
  min-height: 118px;
}

.pricing-table ul > li {
  font-size: 11px;
  min-height: 49px;
  padding: 8px 0;
}

.more-account {
  min-height: 49px !important;
}

.section5 .btn {
  font-size: 12px;
  padding: 6px 12px;
}

.pricing-price h3 {
  font-size: 18px;
}

.pricing-price h2 {
  font-size: 30px;
}

.review-block {
  font-size: 10px;
  line-height: 20px;
}

.review-block .tab-content {
  padding: 40px 60px 30px 50px;
}

.review-list {
  width: 184px;
}

.review-list .nav-pills > li > a > img {
  width: 56px;
}

.fix-sidebar, .pt-ribbon-wrapper {
    display: none;
}
}