/*---------------------------------------------------------*/
/* MODIFY BOOTSTRAP CSS */
/*---------------------------------------------------------*/

@font-face{
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  color: #444444;
  /*font-family: "Tahoma",Helvetica,Arial,sans-serif;*/
  font-family: "OpenSans",Helvetica,Arial,sans-serif;
  /*font-size: 14px;*/
  /*line-height: 1.42857;*/
}

/*.container {
  padding: 0;
}*/
.navbar-toggle {
  background-color: #00B0FF;
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

/*.container .col-xs-1, .container .col-sm-1, .container .col-md-1, .container .col-lg-1, .container .col-xs-2, .container .col-sm-2, .container .col-md-2, .container .col-lg-2, .container .col-xs-3, .container .col-sm-3, .container .col-md-3, .container .col-lg-3, .container .col-xs-4, .container .col-sm-4, .container .col-md-4, .container .col-lg-4, .container .col-xs-5, .container .col-sm-5, .container .col-md-5, .container .col-lg-5, .container .col-xs-6, .container .col-sm-6, .container .col-md-6, .container .col-lg-6, .container .col-xs-7, .container .col-sm-7, .container .col-md-7, .container .col-lg-7, .container .col-xs-8, .container .col-sm-8, .container .col-md-8, .container .col-lg-8, .container .col-xs-9, .container .col-sm-9, .container .col-md-9, .container .col-lg-9, .container .col-xs-10, .container .col-sm-10, .container .col-md-10, .container .col-lg-10, .container .col-xs-11, .container .col-sm-11, .container .col-md-11, .container .col-lg-11, .container .col-xs-12, .container .col-sm-12, .container .col-md-12, .container .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}*/

a {
    /*color:#017EA6;*/
    color: #0A83C1;
}

a:focus, a:hover {
    color: #0A83C1;
    outline: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #FFFFFF;
    color: #00B0FF;
}

p {
    margin: 0;
}

footer {
    border-top: 1px solid #EEEEEE;
    /*margin-top: 20px;*/
    padding: 20px 0;
}

.tab-content {
    padding: 15px 0 0;
}

.navbar-collapse {
    padding: 0;
}

.pagination {
    margin: 10px 0;
}

.form-control {
  border: 1px solid #D0D0D0;
  box-shadow: none;
}

.form-control:focus {
  border-color: #00B0FF;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);*/
  box-shadow: none;
  outline: 0 none;
}

textarea {
    overflow: hidden;
    resize: none;
}

.panel {
    margin-bottom: 20px;
    /*border: 1px solid #56BDF1;*/
}

.panel-default {
    border-color: #56BDF1;
}

.panel-default > .panel-heading {
    background-color: #F4F8F9;
    color: #0A83C1;
    border-color: #56BDF1;
}

.panel-primary {
    border-color: #56BDF1;
}

.panel-primary > .panel-heading {
    background-color: #00B0FF;
    color: #FFFFFF;
    border-color: #56BDF1;
}

.panel-title {
    display: inline;
}

.panel-body {
    padding: 20px;
}

.bg-primary {
    background-color: #00B0FF;
    color: #FFFFFF;
}

.bg-info {
    background-color: #1BB7A0;
    color: #FFFFFF;
}

.bg-success {
    background-color: #23AE89;
    color: #FFFFFF;
}

.bg-danger {
    background-color: #FA7B58;
    color: #FFFFFF;
}

.bg-warning {
    background-color: #F3C536;
    color: #FFFFFF;
}

.dropdown-menu {
  border: 1px solid #56BDF1;
  padding: 5px;
  box-shadow: none;
}

.dropdown-menu > li > a {
  padding: 5px 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #00B0FF;
  border-radius: 3px;
  color: #FFFFFF;
}

.badge {
    padding: 4px 6px;
    /*background-color: #*/
}

.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: baseline;
    padding: 10px;
}

th {
    text-align: center;
}

.label {
    padding: 0.5em 0.8em;
    border-radius: 4px;
}

/*.btn {
  border: 1px solid #56BDF1;
}*/

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #00B0FF;
  border-color: #56BDF1;
  color: #FFFFFF;
}

.btn-primary {
    background-color: transparent;
    border-color: #56BDF1;
    color: #0A83C1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #00B0FF;
    border-color: #56BDF1;
    color: #FFFFFF;
}

.btn-info {
    background-color: #1BB7A0;
    border-color: #18A18D;
    color: #FFFFFF;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #169381;
    /*border-color: #106B5E;*/
    border-color: #18A18D;
    color: #FFFFFF;
}

.label-primary {
    background-color: #00B0FF;
}

.label-info {
    background-color: #1BB7A0;
}

.modal-title {
    text-align: center;
}

.modal-content {
    box-shadow: none;
}

.input-group-addon {
    background-color: #F4F8F9;
    border-color: #D0D0D0;
    min-width: 40px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
    outline-offset: 0;
}

.btn-group .btn:active, .btn-group .btn.active {
  box-shadow: none;
}


.panel-group .panel-default {
    border-color: #d9ddde;
}

.panel-group .panel-default:hover, .panel-group .panel-default:focus {
    border-color: #56bdf1;
}

.panel-group .panel-heading {
    padding: 0;
    /*border-color: #d9ddde;*/
}

.panel-group .panel-heading a {
    display: block;
    padding: 8px 15px;
}

.panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus {
/*    color: white;
    background-color: #00B0FF;*/
    text-decoration: none;
    /*border-color: #56bdf1;*/
}

.panel-danger {
    border-color: #FA7B58;
}

.panel-danger > .panel-heading {
    background-color: #FA7B58;
    border-color: #FA7B58;
    color: #FFFFFF;
}

.panel-warning {
    border-color: #F39C12;
}

.panel-warning > .panel-heading {
    background-color: #F39C12;
    border-color: #F39C12;
    color: #FFFFFF;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #56BDF1;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
  border-color: #56BDF1 #56BDF1 #FFFFFF;
}

/*---------------------------------------------------------*/
/* GENERAL */
/*---------------------------------------------------------*/

.size-h1 {
    font-size: 36px;
}

.size-h2 {
    font-size: 30px;
}

.size-h3 {
    font-size: 24px;
}

.size-h4 {
    font-size: 18px;
}

.margin-t {
    margin-top: 20px;
}

.margin-b {
    margin-bottom: 20px;
}

.no-padding {
    padding: 0;
}

.avatar-small2 {
    width: 48px;
}

.avatar-small {
    width: 64px;
}

.avatar-medium {
    width: 96px;
}

.avatar {
    width: 128px;
}

.avatar-large {
    width: 200px;
}

.user-list img {
    width: 64px;
    margin-right: 10px;
    /*float: left;*/
}

form .form-group:first-child:last-child {
    margin-bottom: 20px !important;
}

form .form-group:last-child {
    margin-bottom: 0;
}

/*
.callout-info {
    border-color: #1BB7A0 !important;
}

.callout-primary {
    border-color: #00B0FF !important;
}

.callout-info h4 {
    color: #1BB7A0;
}

.callout-primary h4 {
    color: #00B0FF;
}

.callout {
    border-left: 3px solid #EEEEEE;
    margin: 0 0 20px;
    padding: 20px;
    background-color: #F4F8F9;
}

.callout p {
    line-height: 22px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}*/

.badge-primary {
    /*background-color: #348FE2;*/
    background-color: #0A83C1;
    /*background-color: #00B0FF;*/
}

.round-icon {
    border-radius: 50%;
    display: block;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 48px;
    color: white;
}

/* SWITCH */

.switch input {
  display: none;
}

.switch i {
  border-radius: 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  display: inline-block;
  padding-right: 25px;
  transition: all 0.2s ease 0s;
}

.switch i:before {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 30px;
  width: 30px;
}

.switch *:checked + i {
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 50px #1BB7A0 inset;*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 50px #00B0FF inset;
  padding-left: 25px;
  padding-right: 0;
}
/*
.switch.switch-info *:checked + i {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 50px #56BDF1 inset;
}*/

.switch-label {
  padding-top: 13px !important;
  text-align: left !important;
}

/* RADIO */

.ui-radio {
    margin: 0 20px 10px;
    position: relative;
}

.ui-radio input[type="radio"] {
    display: none;
}

.ui-radio input[type="radio"] + span:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #56BDF1;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 18px;
    margin-left: -20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 18px;
}

.ui-radio input[type="radio"]:checked + span:after {
    background-color: #00B0FF;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 7px;
    width: 8px;
}

.ui-radio input[type="radio"] + span {
    font-weight: normal;
}

/* CHECKBOX */

.ui-checkbox {
    margin: 0 20px 10px;
    position: relative;
}

.ui-checkbox input[type="checkbox"] {
    display: none;
}

.ui-checkbox input[type="checkbox"] + span:before {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #56BDF1;
    border-radius: 2px;
    content: "";
    display: inline-block;
    height: 18px;
    margin-left: -20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 18px;
}

.ui-checkbox input[type="checkbox"]:checked + span:before {
    background-color: #00B0FF;
    border: 1px solid #56BDF1;
}

.ui-checkbox input[type="checkbox"]:checked + span:after {
    background: url("../img/ui/checkmark.png") no-repeat scroll center center / 14px 14px rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 8px;
    left: -15px;
    position: absolute;
    top: 7px;
    width: 8px;
}

.ui-checkbox input[type="checkbox"] + span {
    font-weight: normal;
}

/* INPUT WITH ICON */

.left-input-icon {
    color: #aaaaaa;
    /*color: #0A83C1;*/
    left: 30px;
    line-height: 1.42857;
    padding-right: 10px;
    position: absolute;
    top: 8px;
}

.form-control.left-icon {
    padding-left: 40px;
}

.form-control.left-icon:focus + .left-input-icon{
    color: #0A83C1;
}

/*---------------------------------------------------------*/
/* DATEPICKER */
/*---------------------------------------------------------*/

/*.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover {
  background-color: #00B0FF;
}*/

.datepicker td.active, .datepicker td.active:hover {
    background-color: #00B0FF !important;
    background-image: none !important;
}

/*---------------------------------------------------------*/
/* MAIN */
/*---------------------------------------------------------*/

header {
  background-color: #00B0FF;
  /*background-color:#eeeeee;*/
}

header a {
  color: #FFFFFF;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand > img {
  /*width: 150px;*/
  margin-top: 1px;
}

.body-content {
    /*margin-top: 50px;*/
    /*min-height: 490px;*/
    min-height: 550px;
}

footer .menu > a {
  margin-right: 15px;
}

footer .social {
    margin-top: -20px;
}

footer .social > a {
  border: 1px solid;
  border-radius: 50%;
  color: #9ba9af;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  padding: 6px;
  text-align: center;
  width: 40px;
}

footer .social > a:hover, footer .social > a:focus {
  color: #0A83C1;
}

.copyright {
    margin: 10px 0 0 0;
    /*border-top: 1px solid #c9c9c9;*/
}

.noti-viewed {
    background-color: white;
}
/*.noti-icon .badge {
    background-color: #FA7B58;
    margin-left: -7px;
    position: absolute;
    top: 5px;
}*/

.noti-icon .badge {
    background-color: #FA7B58;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 3px;
}

.noti-icon > a {
    font-size: 18px;
    padding: 15px 15px 15px 10px !important;
}

/* WARNING & NOTI BOX */

.noti-box {
    padding: 0;
    width: 480px;
}

.noti-box a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    /*white-space: nowrap;*/
    padding: 10px;
}

.noti-box a:hover, .noti-box a:focus {
    border-radius: 0;
    background-color: #F4F8F9;
    color: #333333;
    text-decoration: none;
}

.noti-body {
    position: relative;
    min-height: 271px;
    max-height: 271px;
    overflow: hidden;
}

.noti-item {
    background-color: #EAEEEF;
}

.noti-header {
    border-bottom: 1px solid #C9C9C9;
    padding: 8px 10px;
}

.noti-footer {
    border-top: 1px solid #C9C9C9;
}

.noti-footer > a {
    /*color: #0A83C1 !important;*/
    padding: 8px 10px;
}

.noti-footer > a:hover, .noti-footer > a:focus {
    color: #0A83C1 !important;
}

.noti-img img {
    width: 48px;
    margin-right: 10px;
    border-radius: 50%;
}

.noti-img i {
    border-radius: 50%;
    font-size: 24px;
    margin-right: 10px;
    padding: 12px;
}

.noti-img, .noti-content {
    display: table-cell;
    vertical-align: middle;
}

.noti-time {
    color: #999999;
    display: block;
}

/*---------------------------------------------------------*/
/* SITE - INDEX/LOGIN */
/*---------------------------------------------------------*/

.navbar-nav .btn {
    border-color: #FFFFFF;
    margin: 6px 0;
    padding: 8px 16px;
}

/*.intro-bg {
    background-image: url('../img/company/s1bg3.jpg');
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    min-height: 490px;
}*/

.intro-block {
    background-color: #f4f8f9;
    padding-top: 100px;
    min-height: 550px;
}

.intro-block .panel {
    border: medium none;
}

/*---------------------------------------------------------*/
/* PATIENT - HEALTH TAB */
/*---------------------------------------------------------*/

.info-block {
    padding: 20px 0;
    background-color: #F4F8F9;
}

.info-block img {
    width: 200px;
}

.infol {
    padding-left: 0;
}

.infol img {
    float:left;
    margin-right: 20px;
}

.infor {
    padding-right: 0;
    text-align: right;
}

.infoc {
    display: inline-block;
}

.infor img {
    float: right;
    margin-left: 20px;
}

.tab-block {
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.tab-block .nav-tabs > li.active > a, .tab-block .nav-tabs > li.active > a:hover, .tab-block .nav-tabs > li.active > a:focus {
  background-color: #00B0FF;
  border-radius: 0;
  color: #FFFFFF;
  border: medium none;
}

.tab-block .nav-tabs {
    border: none;
}

.tab-block .nav-tabs > li > a {
    border: medium none;
    border-radius: 0 !important;
    margin-right: 1px;
    padding: 12px 18px;
}

.tab-block .nav > li > a:hover, .tab-block .nav > li > a:focus {
    background-color: #00B0FF;
    color: #FFFFFF;
}

.tab-block .nav-tabs > li {
  margin-bottom: 0;
}

.content-block {
    margin-top: 20px;
}

.mini-box {
  background-color: #f4f8f9;
  border-color: #d9ddde;
  margin-bottom: 10px;
  padding: 10px 15px;
}

/*.mini-box .box-icon {
    border-radius: 50%;
    display: block;
    float: left;
    font-size: 35px;
    height: 65px;
    line-height: 65px;
    margin: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 65px;
}*/

.mini-box .box-icon {
  border-radius: 50%;
  float: left;
  font-size: 30px;
  line-height: 54px;
  margin: 0 10px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 54px;
}

.panel-heading .box-icon {
    border: 1px solid;
    border-radius: 50%;
    display: block;
    float: left;
    /*font-size: 18px;*/
    height: 40px;
    line-height: 40px;
    margin: -10px 10px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.mini-box .box-info p {
    margin: 0;
}

.record-note {
    max-height: 600px;
    position: relative;
    overflow: hidden;
}

.ps-scrollbar-x {
    display: none;
}

.record-view {

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #00B0FF;
    color: #FFFFFF;
}

.health-block .nav-pills {
    border: 1px solid #56BDF1;
    border-radius: 6px;
    display: inline-block;
}

.health-block .nav-pills > li:first-child:not(:last-child) > a {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.health-block .nav-pills > li:not(:first-child):not(:last-child) > a {
    border-radius: 0;
}

.health-block .nav-pills > li:last-child:not(:first-child) > a{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* RECORD LIST/TIMELINE */

.feed-item .feed-icon .round-icon {
  left: -25px;
  position: absolute;
  top: 0;
  width: 48px;
}

.record-list {
  /*max-height: 617px;*/
  max-height: 395px;
  overflow: hidden;
  position: relative;
}

.record-list .feed-item {
  padding: 8px 10px 10px 30px;
}

.record-list .label {
  font-size: 85%;
}

.record-list .badge {
  padding: 6px 10px;
}

.record-list a:hover > .badge, .record-list a:focus > .badge {
  background-color: #03BDF1;
}

.record-list .pull-right {
  margin-top: 6px;
}

.record-list .feed-subject .btn {
  margin-right: 5px;
  width: 50px;
}

.record-list .feed-date .btn {
  width: 130px;
}

.record-list .feed-date .round-icon {
  background-color: #c9c9c9;
}

.record-list .badge-period {
    width: 100px;
}

.record-list .badge-primary {
  text-align: left;
  width: 60px;
}

.health-block .nav-pills {
  margin-right: 10px;
}

/*---------------------------------------------------------*/
/* PATIENT - DISCUSSION TAB */
/*---------------------------------------------------------*/

/* ACTION BOX */

.action-box {
    margin-bottom: 20px;
}

.action-box textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
/*    border-color: #DDDDDD;
    resize: none;*/
}

.action-list {
  background-color: #F5F5F5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: #d0d0d0;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  padding: 8px 15px;
}

.action-item {
  display: inline;
}

.action-item a {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #AAAAAA;
    display: inline-block;
    font-size: 17px;
    padding: 5px 0;
    text-align: center;
    width: 2em;
}

.action-item a:hover {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-radius: 4px;
    color: #00B0FF;
    text-decoration: none;
}

/* FEED */

.feed-item {
    border-left: 2px solid #56BDF1;
    margin: 0 0 0 23px;
    padding: 14px 10px 30px 40px;
    position: relative;
}

/*.feed-item-idea .feed-icon {
    background-color: #6685A4;
}

.feed-item .feed-icon {
    background-color: #6685A4;
    border: 3px solid #FFFFFF;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    font-size: 16px;
    height: 40px;
    left: -23px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 40px;
}*/

.feed-item .feed-icon img {
    left: -25px;
    position: absolute;
    /*top: 6px;*/
    top: 0;
    width: 48px;
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);*/
}

.feed-item .feed-subject {
    margin-bottom: 10px;
}

.feed-item .feed-content {
    line-height: 22px;
}

.feed-item .feed-actions {
    border-top: 1px dotted #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

/* NOTE LIST */

.note-list > li {
    line-height: 1.65em;
    margin-bottom: 1em;
    padding-left: 2.2em;
    position: relative;
}

.note-list > li > i {
    font-size: 1.25em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0.25em;
    width: 1em;
}

/*---------------------------------------------------------*/
/* PATIENT - DOCTOR TAB */
/*---------------------------------------------------------*/

/* MAIN DOCTOR */
.panel-profile .panel-heading img {
  display: table-cell;
  margin-bottom: 10px;
  width: 160px;
}

.panel-profile ul {
    margin: 0;
    padding: 15px 0;
}

.panel-profile ul > li {
    border-right: 1px solid #EEEEEE;
    display: table-cell;
    float: none;
    padding: 10px;
    width: 1%;
}

.panel-profile ul > li:last-child {
    border: medium none;
}

/*.search-result .user-info {
    vertical-align: top;
}*/

/*.sorting:before {
    color: #BBBBBB;
    content: "ïƒœ";
}

.sorting_asc:before, .sorting_asc_disabled:before {
    content: "ïƒž";
}
.sorting_desc:before, .sorting_desc_disabled:before {
    content: "ïƒ";
}

.sorting:before, .sorting_asc:before, .sorting_desc:before, .sorting_asc_disabled:before, .sorting_desc_disabled:before, .paginate_enabled_previous:before, .paginate_disabled_previous:before, .paginate_enabled_next:before, .paginate_disabled_next:before {
    color: #D74B4B;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 10px;
}*/

/* DOCTOR - WARNING TAB */
.patient-data .modal-dialog {
  width: 90%;
}

.panel-collapse .panel {
    margin-bottom: 20px;
}

.panel-heading img {
    width: 48px;
    margin-right: 10px;
}

/* ACCOUNT PAGE */

.list-info li {
  border-bottom: 1px solid #EEEEEE;
  padding: 10px;
}

.list-info li .icon {
  color: #1BB7A0;
  margin-right: 10px;
}

.list-info li label {
  margin: 0;
  width: 100px;
}

/* SIGN UP */

.signup-block {
    background-image: url('../img/company/doctorsbg.jpg');
    background-size: cover;
    padding-top: 20px;
}

.signup-block .panel {
  border: medium none;
}

/* DOCTOR PROFILE */
.profile-info img {
    width: 200px;
}


/**/
/*.input-group-addon {
  border-right: 1px solid #D6D6D6;
  bottom: 9px;
  color: #D6D6D6;
  display: block;
  font-size: 14px;
  left: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 9px;
  transition: all 0.3s ease 0s;
  width: 40px;
  z-index: 1002;
}*/

.jqplot-data-label {
  color: white;
}

.piechart-nodata {
  position: relative;
  background-color: #e2e2e2;
  margin-left: 60px;
  border-radius: 50%;
  text-align: center;
  width: 210px;
  height: 210px;
}

.piechart-nodata span {
  top: 44%;
  display: block;
  position: relative;
}

.flotTip, .jqplot-highlighter-tooltip {
  border: 1px solid #d9ddde !important;
  border-radius: 0.5em;
  color: #666666;
  padding: 10px !important;
  text-align: center;
  white-space: nowrap !important;
  z-index: 999;
  background-color: white !important;
}

.flotTip > h3, .jqplot-highlighter-tooltip > h3{
  margin: 0 0 5px 0;
}

.flotTip > h4, .jqplot-highlighter-tooltip > h4{
  margin: 0 0 5px 0;
}

.flotTip > h5, .flotTip > h6,
.jqplot-highlighter-tooltip > h5,
.jqplot-highlighter-tooltip > h6 {
  margin: 0;
}

.sys {
  color: #ff7916;
}

.dia {
  color: #8774b6;
}

.pulse {
  color: #5cb85c
}

.main-doctor img.img-circle {
  margin: 0 auto;
}